body 
{
	font-family: "Times New Roman", Times, serif;
	}
	
div.nav
{	border: 2px solid black;
	line-height:170%;
	color: #FFFFFF;

	letter-spacing: 1px;
	background-color: #333333;
	}

div.nav.a{
    a {color: #FFFFFF}
}


div.content
{	border: 2px solid black;
	padding:1em;
	background-color: #003333;
	letter-spacing: 1px;	
	overflow: auto;
	}

td.foot
{	color: #000000;
	padding: .3em;	
	}
	
a {color: #6699CC}
p.newstitle	{ font-weight: bold; }
p.newsfooter	{ font-style: italic; font-size: 10pt;}
p.little	{ font-size: 10pt; }
p.norm  {color: #99CC99; }