<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.GEA"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="18"/>
    <application android:label="@string/app_name" android:icon="@drawable/company">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.GEA.Donor">
            <intent-filter>
                <action android:name="com.example.GEA.Donor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.GEA.Teacher">
                <intent-filter>
                    <action android:name="com.example.GEA.Teacher" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </activity>
        <activity android:name="com.example.GEA.Login">
                <intent-filter>
                    <action android:name="com.example.GEA.Login" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
        </activity>
    </application>
</manifest>
